
<style>

    html {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.25em;
        line-height: 1.4;
    }

    a {
        color: #268bd2;
        text-decoration: none;
    }

    a:hover, a:focus {
        text-decoration: underline;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5rem;
        font-weight: bold;
        line-height: 1.25;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    h3 {
        margin-top: 1.5rem;
        font-size: 1.25rem;
    }

    h4, h5, h6 {
        margin-top: 1rem;
        font-size: 1rem;
    }

    code {
        padding: .15em .3em;
        border: 1px solid #E5E5E5;
        background-color: #f7f7f7;
    }

    pre {
        border: 1px solid #E5E5E5;
        background-color: #f7f7f7;
        padding: 1em;
    }
    pre code {
        padding: 0;
        border: none;
    }

    [role=main] {
        max-width: 38rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

</style>