#if ( !$cookiesDismissed ) 

 <div class="bvCookiesBar">
     <div class="bvCookiesBar__wrapper">
         <p>Vi använder cookies för att förbättra din upplevelse. Genom att surfa vidare accepterar du dessa cookies.</p>
         <button class="bvCookiesBar__button">Jag förstår</button>
     </div>
 </div>

#end